<!DOCTYPE html>
<head>
    <title>Drink Series</title>
    <link rel="stylesheet" href="/css/customer_home.css">
</head>

<body class="customer-home-background">
    <div class="customer-page">
        <div class="drink-categories-container">
            <h3 class="categories-title">DRINK SERIES</h3>
                <% for (var i in drink_categories) {%>
                    <button onClick="getDrinkSeries('<%=drink_categories[i].category%>')"><%=capitalizeName(drink_categories[i].category, '_')%></button>
                <% } %>
        </div>
        <div class="category-items-container">
            <h1 class="series-name">Drink Series</h1>
            <% for (var i in drinks) {%>
                <button id="<%=drinks[i].name%>" onClick="buildDrink('<%=drinks[i].name%>', '<%=drinks[i].drink_id%>')">
                    <img src = "peach_oolong_tea.png" width="100%" height="100%">
                    <%=capitalizeName(drinks[i].name, ' ')%>
                </button>
            <% } %>
        </div>
    </div>
</body>

<script src="/js/functions.js"></script>