<!DOCTYPE html>
<html>
<head>
    <title>Menu Items</title>
    <link rel="stylesheet" href="/css/manager_main.css">
</head>
<body>
    <h1>Menu Items</h1>
    <div class="container">
        <div>
            <h2>Drinks Table</h2>

            <table>
                <thead>
                    <tr>
                        <th>Drink ID</th>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (const item of menuData) { %>
                        <tr>
                            <td><%= item.drink_id %></td>
                            <td><%= item.name %></td>
                            <td><%= item.cost %></td>
                            <td><%= item.category %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

        </div>
        <div>
            <h2>Add-Ons Table</h2>
    <table>
        <thead>
            <tr>
                <th>Ingredient ID</th>
                <th>Inventory ID</th>
                <th>Name</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <% for (const item of ingredientsData) { %>
                <tr>
                    <td><%= item.ingredient_id %></td>
                    <td><%= item.inventory_id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.cost %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
        </div>
    </div>

</body>
</html>
